<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <!-- bower:css -->
    <link rel="stylesheet" href="/Vendor/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/Vendor/toastr/toastr.css">
    <link rel="stylesheet" href="/Vendor/bootstrap/dist/css/bootstrap.css">
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/content/styles/app.css">
    <!-- endinject -->

</head>
<body ng-app="angularApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
	                <li><a ui-sref="Welcome">Home</a></li>
					<li><a ui-sref="Login">Login</a></li>
                    <li><a ui-sref="pictures">Pictures</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <!-- bower:js -->
    <script src="/Vendor/angular/angular.js"></script>
    <script src="/Vendor/jquery/dist/jquery.js"></script>
    <script src="/Vendor/moment/moment.js"></script>
    <script src="/Vendor/angular-animate/angular-animate.js"></script>
    <script src="/Vendor/toastr/toastr.js"></script>
    <script src="/Vendor/lodash/lodash.js"></script>
    <script src="/Vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/Vendor/angular-route/angular-route.js"></script>
    <script src="/Vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/Vendor/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/Vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endinject -->
    
    <!-- inject:js -->
	<script src="/app/angularapp.module.js"></script>
	<script src="/app/services/loginService.js"></script>
	<script src="/app/services/flickrService.js"></script>
	<script src="/app/services/authService.js"></script>
	<script src="/app/controllers/pictures.js"></script>
	<script src="/app/controllers/login.js"></script>
	<script src="/app/controllers/index.js"></script>
	<script src="/app/config.route.js"></script>
	<script src="/app/config.js"></script>
	<!-- endinject -->

</body>
</html>
