<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AngularApp</title>

	<!-- bower:css -->
	<link rel="stylesheet" href="/Vendor/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="/Vendor/toastr/toastr.css">
	<link rel="stylesheet" href="/Vendor/bootstrap/dist/css/bootstrap.css">
	<!-- endinject -->

	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css" rel="stylesheet">


	<!-- inject:css -->
	<link rel="stylesheet" href="/content/styles/app.css">
	<!-- endinject -->

</head>
<body ng-app="angularApp">
	@RenderBody()
	<div ui-view="navbar"></div>

	<div class="container">
		<div ui-view="content"></div>
	</div>

	<footer class="footer">
		<div class="container">
			<div ui-view="footer"></div>
		</div>
	</footer>

	

	<!-- bower:js -->
	<script src="/Vendor/angular/angular.js"></script>
	<script src="/Vendor/jquery/dist/jquery.js"></script>
	<script src="/Vendor/moment/moment.js"></script>
	<script src="/Vendor/angular-animate/angular-animate.js"></script>
	<script src="/Vendor/toastr/toastr.js"></script>
	<script src="/Vendor/lodash/lodash.js"></script>
	<script src="/Vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/Vendor/angular-route/angular-route.js"></script>
	<script src="/Vendor/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/Vendor/angular-local-storage/dist/angular-local-storage.js"></script>
	<script src="/Vendor/angular-resource/angular-resource.js"></script>
	<script src="/Vendor/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endinject -->

	<!-- inject:js -->
	<script src="/app/module.js"></script>
	<script src="/app/school/services/teacherService.js"></script>
	<script src="/app/school/services/studentService.js"></script>
	<script src="/app/school/services/classService.js"></script>
	<script src="/app/school/controllers/School.js"></script>
	<script src="/app/school/controllers/ClassManager.js"></script>
	<script src="/app/services/loginService.js"></script>
	<script src="/app/services/flickrService.js"></script>
	<script src="/app/school/config.route.js"></script>
	<script src="/app/controllers/pictures.js"></script>
	<script src="/app/controllers/index.js"></script>
	<script src="/app/templates.js"></script>
	<script src="/app/config.route.js"></script>
	<script src="/app/config.resource.js"></script>
	<script src="/app/config.js"></script>
	<!-- endinject -->

</body>
</html>
